.tech-toast {
  font-family: "Outfit", sans-serif !important;
  border-radius: 1em !important;
  overflow: hidden;
}

.tech-toast .toast-body {
  font-family: "Outfit", sans-serif !important;
  font-weight: 500;
  background-color: #212529 !important;
  color: #f8f9fa !important;
  padding: 1rem 1.25rem !important;
  letter-spacing: 0.3px;
}

/*  font a tutto il sito */
body {
  font-family: "Rajdhani", sans-serif !important;
  font-size: 1.125rem !important;
  font-weight: 600 !important;
  background-color: #ffffff;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea,
.navbar {
  font-family: "Rajdhani", sans-serif !important;
}

h1 {
  font-size: 2.5rem !important;
}
h2 {
  font-size: 2rem !important;
}
h3 {
  font-size: 1.75rem !important;
}

.btn,
.navbar,
.nav-link {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

/* Effetto bottone in sovrapposizione */
.btn-custom-overlay {
  background: linear-gradient(135deg, #2a303c 0%, #1d2125 100%) !important;
  color: #ffffff !important;
  border: 2px solid rgba(255, 255, 255, 0.15) !important;
  padding: 10px 26px !important;
  border-radius: 8px !important;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.5),
    0 4px 10px rgba(0, 0, 0, 0.3) !important;
  transition: all 0.3s ease-in-out !important;
}

.btn-custom-overlay:hover {
  transform: translateY(-5px);
  box-shadow:
    0 15px 30px rgba(126, 169, 234, 0.25),
    0 6px 15px rgba(0, 0, 0, 0.4) !important;
  border-color: #d4d5d6 !important;
  background: linear-gradient(135deg, #323946 0%, #22272c 100%) !important;
}

.pills-custom-overlay {
  background: linear-gradient(135deg, #e6e7e9 0%, #eef0f1 100%) !important;
  color: #070000 !important;
  box-shadow:
    0 10px 25px rgba(255, 252, 252, 0.5),
    0 4px 10px rgba(228, 226, 226, 0.3) !important;
  transition: all 0.35s ease-in-out !important;
}

.pills-custom-overlay:hover {
  transform: translateY(-5px);
  box-shadow:
    0 15px 30px rgba(212, 213, 214, 0.25),
    0 6px 15px rgba(214, 213, 213, 0.4) !important;
  border-color: #d4d5d6 !important;
  background: linear-gradient(135deg, #21252983 0%, #f0f2f4 100%) !important;
}

.pills-custom-build {
  background: linear-gradient(135deg, #e6e7e9 0%, #eef0f1 100%) !important;
  color: #070000 !important;
  box-shadow:
    0 5px 10px rgba(255, 252, 252, 0.5),
    0 3px 7px rgba(228, 226, 226, 0.3) !important;
  transition: all 0.35s ease-in-out !important;
}

.pills-custom-build:hover {
  transform: translateY(-5px);
  box-shadow:
    0 10px 20px rgba(212, 213, 214, 0.25),
    0 5px 10px rgba(214, 213, 213, 0.4) !important;
  border-color: #d4d5d6 !important;
  background: linear-gradient(135deg, #58636d83 0%, #f0f2f4 100%) !important;
}
